main {
    display: grid;
    height: 100vh;
    grid-gap: 10px;

    grid-template-columns: 
        [Aside-start] 1fr
        [Aside-end Contenido-start] 2fr
        [Contenido-end];


    grid-template-rows:
        [Header-start] 1fr
        [Header-end Contenido-start] 2fr
        [Footer-start] 1fr
        [Footer-end];

}


main > * {
    font-family: sans-serif;
    background-color:#A93226;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
header {
    grid-column: Aside-start / span 2;
}

footer {
    grid-column: Aside-start / -1;
}*/

header {
    grid-column: Aside-start / Contenido-end;
}

aside {
    grid-row: Header-end / Footer-end;
}

footer {
    grid-column: Contenido-start / Contenido-end;
}