main {
    display: grid;
    grid-gap: 10px;
    font-family: 'Notable', sans-serif;
    grid-template: 
        repeat(4, 50px)/repeat(3,1fr);

    /*Row Axis*/ /*ejer horizontal
    justify-items: start;*/
    
    /*Column Axis*/ /*ejr vertical*/
    /*align-items: stretch;*/
    
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA8072;
}

div:nth-child(5) {
    background-color: blue;
    /*justify-self: end;*/
    align-self: stretch;
}

